

    <div class="fleet-list">
        <article>
            <div class="mini-car-title">
                <a href="car.html">
                    <h3>Renault Twingo</h3>
                    <p>ou similaire | Saint-Étienne</p>
                </a>
                <div>
                    <a href="#"><img src="assets/icons/trash.png" alt="Supprimer" /></a>
                </div>
            </div>
            <div class="mini-car-icons">
                <div>
                    <img src="assets/icons/persons.png" alt="4 places" />
                    <p>4 places</p>
                </div>
                <div>
                    <img src="assets/icons/motor.png" alt="Manuelle" />
                    <p>Manuelle</p>
                </div>
                <div>
                    <img src="assets/icons/km.png" alt="km illimités" />
                    <p>Km illimités</p>
                </div>
                <div>
                    <img src="assets/icons/plus.png" alt="PLus" />
                    <p>Plus</p>
                </div>
            </div>
            <div class="mini-car-price">
                <p class="price-per-day">39,14 € / jour</p>
                <p class="price-per-month">900,00 € / mois</p>
            </div>
        </article>
        <article>
            <div class="mini-car-title">
                <a href="car.html">
                    <h3>Renault Clio</h3>
                    <p>ou similaire | Saint-Étienne</p>
                </a>
                <div>
                    <a href="#"><img src="assets/icons/trash.png" alt="Supprimer" /></a>
                </div>
            </div>
            <div class="mini-car-icons">
                <div>
                    <img src="assets/icons/persons.png" alt="4 places" />
                    <p>4 places</p>
                </div>
                <div>
                    <img src="assets/icons/motor.png" alt="Manuelle" />
                    <p>Manuelle</p>
                </div>
                <div>
                    <img src="assets/icons/km.png" alt="km illimités" />
                    <p>Km illimités</p>
                </div>
                <div>
                    <img src="assets/icons/plus.png" alt="PLus" />
                    <p>Plus</p>
                </div>
            </div>
            <div class="mini-car-price">
                <p class="price-per-day">38,64 € / jour</p>
                <p class="price-per-month">850,00 € / mois</p>
            </div>
        </article>
        <article>
            <div class="mini-car-title">
                <a href="car.html">
                    <h3>BMX IX (Electric)</h3>
                    <p>ou similaire | Saint-Étienne</p>
                </a>
                <div>
                    <a href="#"><img src="assets/icons/trash.png" alt="Supprimer" /></a>
                </div>
            </div>
            <div class="mini-car-icons">
                <div>
                    <img src="assets/icons/persons.png" alt="4 places" />
                    <p>4 places</p>
                </div>
                <div>
                    <img src="assets/icons/motor.png" alt="Manuelle" />
                    <p>Manuelle</p>
                </div>
                <div>
                    <img src="assets/icons/km.png" alt="km illimités" />
                    <p>Km illimités</p>
                </div>
                <div>
                    <img src="assets/icons/plus.png" alt="PLus" />
                    <p>Plus</p>
                </div>
            </div>
            <div class="mini-car-price">
                <p class="price-per-day">42,40 € / jour</p>
                <p class="price-per-month">950,00 € / mois</p>
            </div>
        </article>
        <article>
            <div class="mini-car-title">
                <a href="car.html">
                    <h3>Renault Zoé</h3>
                    <p>ou similaire | Saint-Étienne</p>
                </a>
                <div>
                    <a href="#"><img src="assets/icons/trash.png" alt="Supprimer" /></a>
                </div>
            </div>
            <div class="mini-car-icons">
                <div>
                    <img src="assets/icons/persons.png" alt="4 places" />
                    <p>4 places</p>
                </div>
                <div>
                    <img src="assets/icons/motor.png" alt="Manuelle" />
                    <p>Manuelle</p>
                </div>
                <div>
                    <img src="assets/icons/km.png" alt="km illimités" />
                    <p>Km illimités</p>
                </div>
                <div>
                    <img src="assets/icons/plus.png" alt="PLus" />
                    <p>Plus</p>
                </div>
            </div>
            <div class="mini-car-price">
                <p class="price-per-day">39,14 € / jour</p>
                <p class="price-per-month">900,00 € / mois</p>
            </div>
        </article>
        <article>
            <div class="mini-car-title">
                <a href="car.html">
                    <h3>Citroën Ami</h3>
                    <p>ou similaire | Saint-Étienne</p>
                </a>
                <div>
                    <a href="#"><img src="assets/icons/trash.png" alt="Supprimer" /></a>
                </div>
            </div>
            <div class="mini-car-icons">
                <div>
                    <img src="assets/icons/persons.png" alt="4 places" />
                    <p>4 places</p>
                </div>
                <div>
                    <img src="assets/icons/motor.png" alt="Manuelle" />
                    <p>Manuelle</p>
                </div>
                <div>
                    <img src="assets/icons/km.png" alt="km illimités" />
                    <p>Km illimités</p>
                </div>
                <div>
                    <img src="assets/icons/plus.png" alt="PLus" />
                    <p>Plus</p>
                </div>
            </div>
            <div class="mini-car-price">
                <p class="price-per-day">28,59 € / jour</p>
                <p class="price-per-month">799,00 € / mois</p>
            </div>
        </article>
        <article>
            <div class="mini-car-title">
                <a href="car.html">
                    <h3>Opel Corsa</h3>
                    <p>ou similaire | Saint-Étienne</p>
                </a>
                <div>
                    <a href="#"><img src="assets/icons/trash.png" alt="Supprimer" /></a>
                </div>
            </div>
            <div class="mini-car-icons">
                <div>
                    <img src="assets/icons/persons.png" alt="4 places" />
                    <p>4 places</p>
                </div>
                <div>
                    <img src="assets/icons/motor.png" alt="Manuelle" />
                    <p>Manuelle</p>
                </div>
                <div>
                    <img src="assets/icons/km.png" alt="km illimités" />
                    <p>Km illimités</p>
                </div>
                <div>
                    <img src="assets/icons/plus.png" alt="PLus" />
                    <p>Plus</p>
                </div>
            </div>
            <div class="mini-car-price">
                <p class="price-per-day">36,38 € / jour</p>
                <p class="price-per-month">820,00 € / mois</p>
            </div>
        </article>
        
    </div>
</section>



